<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/css/xterm.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/js/xterm.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Interactive Terminal by Arcane Security</h1>
        <div id="terminal-container" class="border-left">
            <div id="xterm-wrapper" class="terminal-wrapper">
                <!-- xterm.js terminal will be rendered here dynamically -->
                <div id="xterm-container" class="terminal-container"></div>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>
